# Python virtual environments
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Pytest & IDE
.pytest_cache/
.vscode/
.idea/

# Environment files
.env
!.env.example

# Temporary / Scratch
*.log
scratch/
